.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.shadow {
    // box-shadow: 0 36px 64px 0 rgba(0, 0, 0, .05);
    // box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
}